# vim: syntax=conf

# swap files
*~

# MacOS files
.DS_Store

# environment secrets
.env

# machine-specific installation files
installer_input.txt

# archive
archive/

# ignore all data folders
*/data/*

# ignore all figures
*/figs/*

# ignore markdown output
*.html

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# ignore notes
*notes.txt

# ignore tarballs
*.tar*
*.zip*
